body {
    font-family: Helvetica, "Times New Roman", Arial;
    /*background-color: rgb(177, 140, 101);*/
    background: rgb(228,223,213);
    background: radial-gradient(circle, rgba(228,223,213,1) 0%, rgba(177,140,101,1) 100%);
    text-align: center;
}

h1 {
    font-weight: 1000;
    font-size: 60px;
}

img {
    width: 400px;
    height: auto;
    border-radius: 20%;
}   

li a {
    font-size: 20px;
    visibility: visible;
}

li {
    visibility: hidden;
}